.viewer-body {
	margin: 0;
	padding: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	font-family: Arial, sans-serif;
}

.viewer-wrapper {
	position: relative;
	width: 100%;
	max-width: 1000px;
	/*margin-top: 60px;*/
}

.pdf-container {
	width: 100%;
	height: 90vh;
	border: 1px solid #030303;
	border-radius: 10px;
	overflow: hidden;
}

.pdf-viewer {
	width: 100%;
	height: 100%;
	border: none;
	padding: auto;
}
.fullscreen-btn {
	position: relative;
	top: 0px;
	right: px;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	border: none;
	padding: 8px 15px;
	border-radius: 5px;
	cursor: pointer;
	transition: background 0.3s;
}
.fullscreen-btn:hover {
	background: rgba(0, 0, 0, 0.8);
}
/* Fullscreen styles */
.pdf-container.fullscreen {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	max-width: none;
	z-index: 9999;
	border-radius: 0;
	padding: 0;
	margin: 0;
}